.copyable {
  border-width: 1px;
  border-style: dashed;
  border-radius: 6px;
  border-color: var(--secondary-color);
  max-width: 750px;
  box-sizing: border-box;
  width: fit-content;
  min-width: 500px;
  padding: 0.75rem;
  transition: 0.3s;

  @media only screen and (max-width: 600px) {
    & {
      width: 100%;
      max-width: 100%;
      min-width: 0;
      display: block;
    }
  }

  .installBlock {
    box-sizing: border-box;
    display: flex;
    overflow-x: auto;

    &.disabled {
      & img {
        cursor: default;
      }
    }

    & code,
    & pre {
      box-sizing: border-box;
      width: 100%;
      max-width: 100%;
      white-space: pre-wrap;
      font-size: 0.9rem;
      display: block;
      overflow-x: auto;
    }

    & > div {
      flex: 1;
      min-width: 0;
    }

    & > img {
      flex-shrink: 0;
      width: 20px;
      transition: 0.3s;
      opacity: 0.3;
      cursor: pointer;
    }
  }

  &:hover {
    border-color: rgb(182, 182, 182);

    & img {
      opacity: 0.5;
    }
  }
}
