.copyable {
    background-color: rgba(34,34,34,.03);
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
    border-color: var(--secondary-color);
    max-width: 600px;
    transition: .3s;

    .installBlock {
        box-sizing: border-box;

        &.disabled {
            & img {
                cursor: default;
            }
        }
        
        & code {
            box-sizing: border-box;
            width: 100%;
            padding: 1rem;
            white-space: pre-wrap;
            padding: 1rem;
            font-size: .9rem;
            display: block;
        }
    
        & > img {
            width: 20px;
            transition: .3s;
            opacity: .3;
            float: right;
            margin-right: 1rem;
            margin-top: 1rem;
            cursor: pointer;
        }
    }

    &:hover {
        border-color: rgb(182, 182, 182);

        & img {
            opacity: .5;
        }
    }
}