.playground {
    display: flex;
    gap: 1rem;
    
    .editor {
        background-color: rgba(34,34,34,.03);
        border-width: 1px;
        border-style: solid;
        border-radius: 6px;
        border-color: var(--secondary-color);
        max-width: 600px;
        transition: .3s;
        position: relative;

        .applyButton {
            all: unset;
            padding: .5rem 1rem;
            background-color: greenyellow;
            border-bottom-right-radius: 6px;
            cursor: pointer;
            position: absolute;
            right: 0;
            bottom: 0;
        }
        
        & code {
            display: block;
        } 

        &:hover {
            & code {
                border-color: rgb(182, 182, 182);
            }
        }
    }

    .result {
        
    }
}