:root {
    --primary-color: #40444f;
    --secondary-color: #6c757d4f;
    --tertiary-color: #2b7ac3af;
}

::-moz-selection {
    color: #fff;
    background: var(--tertiary-color);
}

::selection {
    color: #fff;
    background: var(--tertiary-color);
}

.app {
    padding: 1rem 2rem;

    & code {
        padding: .25rem .5rem;
        border-radius: 4px;
        background-color: rgba(34,34,34,.03);
    }

    & a {
        color: var(--primary-color);
        font-weight: 500;
        text-underline-offset: 3px;
    }

    & h2 {
        margin-top: 3rem;
        color: var(--primary-color);
    }

    & pre {
        margin: 0;
    }
}